<p id="notice"><%= notice %></p>

<h1>Shains</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Yakushoku</th>
      <th>Kihonkyu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shains.each do |shain| %>
      <tr>
        <td><%= shain.name %></td>
        <td><%= shain.yakushoku %></td>
        <td><%= shain.kihonkyu %></td>
        <td><%= link_to 'Show', shain %></td>
        <td><%= link_to 'Edit', edit_shain_path(shain) %></td>
        <td><%= link_to 'Destroy', shain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shain', new_shain_path %>
